#map  {
    width: 1200px;
    height: 400px;
    margin:100px;
}

#title2 {

    color: burlywood;
    text-align: center;
}

#navbar1 {
    margin-bottom: 20px;
}

#car {
    margin-bottom: 20px;
}

#lista {
    margin-bottom: 20px;
}

body {
    background-color:whitesmoke;
}

.bottom {
    background-color:darkslateblue;
    height:150px;
    color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#address {
    margin: 1px;
    color:lavender;
}

#fb {
    font-size: 25px;
    text-align:inherit;
    margin-top:10px;
}

#phone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkslateblue;
    margin: 5px;
    font-size:25px;
}

#facebook {
    color:darkslateblue;
    margin: 5px;
    font-size:25px;
}